<b>Objectif</b>

<p> Dans cette séance, on va terminer avec les concepts fondamentales du langage Python : </p>
<li>Flux conditionnel avec if</li>
<li>Boucles for et while</li>
<li>Les fonctions</li>
<li>Les expressions lambda</li>
<li>Structures des données : tuples, ensembles et dictionnaires</li>

<b>Flux conditionnel avec if </b>
<u> Exemple : </u>
- Ecre un code Python qui permet de saisir un nombre entier
- Par la suite, vous allez contrôler/verifier le signe du nombre selon la logique suivante :
    Si nombre est strictement positif Alors afficher nombre positif
    Sinon Si nombre est strictement negatif Alors afficher nombre est negatif
    Sinon nombre est nul

In [5]:
nombre=int(input('Entrer un nombre:'))
if nombre>0:
    print(nombre,'est positif')
elif nombre<0:
    print(nombre,'est nagatif')
else:
    print(nombre,'est nulle')

3 est positif

<b>Les Listes</b>

In [6]:
noms=[] # liste vide

In [7]:
type(noms)

list

In [8]:
len(noms)

0

In [9]:
noms=["ali","sonia","rahma"]

In [10]:
len(noms)

3

In [11]:
noms.append("saleh")

In [12]:
noms

['ali', 'sonia', 'rahma', 'saleh']

In [13]:
noms.append(10)

In [14]:
noms

['ali', 'sonia', 'rahma', 'saleh', 10]

In [15]:
noms.append([1,2])

In [16]:
noms

['ali', 'sonia', 'rahma', 'saleh', 10, [1, 2]]

In [17]:
x=10

In [18]:
x

10

In [19]:
del x

In [20]:
x

NameError: name 'x' is not defined

In [21]:
noms[0] # premier element

'ali'

In [22]:
noms[-1] # dernier element de la liste

[1, 2]

In [23]:
noms[-2] # avant dernier element de la liste

10

In [24]:
del noms[-1]

In [25]:
noms

['ali', 'sonia', 'rahma', 'saleh', 10]

<b>Indexation</b>

In [27]:
noms[2] # element d'indice 2

'rahma'

In [28]:
noms[10]

IndexError: list index out of range

noms[-1] # indice negatif -1 designe dernier element

<b>Slicing</b>

In [29]:
noms[0:3] # recuperer sous-liste composée des 3 premiers éléments

['ali', 'sonia', 'rahma']

In [30]:
# recuperer les 3 derniers elements
noms[1:4]

['sonia', 'rahma', 'saleh']

In [31]:
noms[0:] # recuperer sous-liste composée des 3 premiers éléments

['ali', 'sonia', 'rahma', 'saleh', 10]

In [32]:
# les 3 derniers element
noms[1:]

['sonia', 'rahma', 'saleh', 10]

In [33]:
# sous liste composée de 2eme et 3eme element
noms[1:3]

['sonia', 'rahma']

In [34]:
noms[-3:3]

['rahma']

In [35]:
noms[1:-1]

['sonia', 'rahma', 'saleh']

<b> Slicing avec pas negatif</b>

In [36]:
noms[3:1]

[]

In [37]:
noms[3:1:1] # réellement python avance de gauche vers droite avec pas=1

[]

In [38]:
noms[3:1:-1]

['saleh', 'rahma']

In [39]:
# Inversion d'une liste

In [40]:
noms[::-1]

[10, 'saleh', 'rahma', 'sonia', 'ali']

In [41]:
noms[::]

['ali', 'sonia', 'rahma', 'saleh', 10]

In [42]:
noms.reverse() #mise à jour de la liste

In [43]:
noms

[10, 'saleh', 'rahma', 'sonia', 'ali']

In [44]:
noms1=noms.copy()
noms1

[10, 'saleh', 'rahma', 'sonia', 'ali']

In [45]:
noms==noms1 # test de l'egalité de contenu

True

In [46]:
noms is noms1 # test de l'identité de l'espace mémoire

False

In [47]:
noms.extend(['A','B'])

In [48]:
noms

[10, 'saleh', 'rahma', 'sonia', 'ali', 'A', 'B']

In [49]:
noms.append(['A','B'])

In [50]:
noms

[10, 'saleh', 'rahma', 'sonia', 'ali', 'A', 'B', ['A', 'B']]

<b>Boucle For</b>

On va afficher les elements de la liste noms element par element

In [51]:
noms=['sonia', 'rahma', 'saleh']

In [52]:
nom=noms[0]
print(nom)
nom=noms[1]
print(nom)
nom=noms[2]
print(nom)

sonia
rahma
saleh

In [53]:
for nom in noms:
    nom=nom.upper() # opère sur une copie

In [54]:
noms

['sonia', 'rahma', 'saleh']

In [55]:
i=0
print(noms[i])
i=1
print(noms[i])
i=2
print(noms[i])

sonia
rahma
saleh

In [56]:
for i in [0,1,2]:
    print(noms[i])

sonia
rahma
saleh

Generateur de sequence

In [57]:
# generer ne séquende des entiers qui :
# commece par 1
# incremete par 2
# s'arrête à 10-1
# sequence : 1 , 3 , 5 , 7 , 9
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [58]:
list(range(0,3,1))

[0, 1, 2]

In [59]:
list(range(0,3))

[0, 1, 2]

In [60]:
list(range(3))

[0, 1, 2]

In [61]:
list(range(len(noms)))

[0, 1, 2]

In [62]:
for i in range(len(noms)):
    print(noms[i])

sonia
rahma
saleh

In [63]:
for i in range(len(noms)):
    noms[i]=noms[i].upper()

In [64]:
noms

['SONIA', 'RAHMA', 'SALEH']

In [65]:
noms=['TV', 'MO', 'RFG']
prix=[1200.5,250,1800.57]
quantite=[5,10,6]
# Entrer nom de produit : MO
# Mo exite
# prix = 350
#qte = 10,
# Entrer nom de prod : lave-vaiselle
#lave vaiselle n'existe pas !

In [76]:
choix = input("Saisir un produit")
se_trouve=False
for i in range(len(noms)):
    if(choix==noms[i]):
        se_trouve=True
        indice_choix=i
        # print("nom:", noms[i])
        # print("Prix:",Prices[i])
        # print("Quantité",quantite[i])
        break
    # else:
    #     Print("non Trouvable")
    #     break
    if se_trouve:
        print(choix,'se trouve')
        print('Prix=',prix['indice_choix'])